<div class="unit one-fifth hide-on-mobiles">
  <aside>
    <ul>
      <li class="{% if page.title == 'News' %}current{% endif %}">
        <a href="/news/">All posts</a>
      </li>
    </ul>

    <h4>Algorithms</h4>
    <ul>
      {% for post in site.categories.algorithm %}
      <li class="{% if page.title == post.title %}current{% endif %}">
        <a href="{{ post.url }}">{{ post.title }}</a>
      </li>
      {% endfor %}
    </ul>

    <h4>Python Section</h4>
    <ul>
      {% for post in site.categories.python %}
      <li class="{% if page.title == post.title %}current{% endif %}">
        <a href="{{ post.url }}">{{ post.title }}</a>
      </li>
      {% endfor %}
    </ul>

    <h4>Java Section</h4>
    <ul>
      {% for post in site.categories.java %}
      <li class="{% if page.title == post.title %}current{% endif %}">
        <a href="{{ post.url }}">{{ post.title }}</a>
      </li>
      {% endfor %}
    </ul>

    <h4>Recent Releases</h4>
    <ul>
      {% for post in site.categories.release limit:5 %}
      <li class="{% if page.title == post.title %}current{% endif %}">
        <a href="{{ post.url }}">{{ post.title }}</a>
      </li>
      {% endfor %}
    </ul>

    <h4>Android Skills</h4>
    <ul>
      {% for post in site.categories.android %}
      <li class="{% if page.title == post.title %}current{% endif %}">
        <a href="{{ post.url }}">{{ post.title }}</a>
      </li>
      {% endfor %}
    </ul>

    <h4>Node.JS</h4>
    <ul>
      {% for post in site.categories.nodejs %}
      <li class="{% if page.title == post.title %}current{% endif %}">
        <a href="{{ post.url }}">{{ post.title }}</a>
      </li>
      {% endfor %}
    </ul>

    <h4>Data Structures</h4>
    <ul>
      {% for post in site.categories.dsa %}
      <li class="{% if page.title == post.title %}current{% endif %}">
        <a href="{{ post.url }}">{{ post.title }}</a>
      </li>
      {% endfor %}
    </ul>


<!--
    <h4>Other News</h4>
    <ul>
        {% for post in site.posts %}
        {% unless post.categories contains 'release' limit:15 %}
        <li class="{% if page.title == post.title %}current{% endif %}">
          <a href="{{ post.url }}">{{ post.title }}</a>
        </li>
        {% endunless %}
        {% endfor %}
    </ul>
-->
  </aside>
</div>
