@font-face {
	font-family: "Flaticon";
	src: url("flaticon.eot");
	src: url("flaticon.eot#iefix") format("embedded-opentype"),
	url("flaticon.woff") format("woff"),
	url("flaticon.ttf") format("truetype"),
	url("flaticon.svg") format("svg");
	font-weight: normal;
	font-style: normal;
}
[class^="flaticon-"]:before, [class*=" flaticon-"]:before,
[class^="flaticon-"]:after, [class*=" flaticon-"]:after {   
	font-family: Flaticon;
	font-style: normal;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
.flaticon-add188:before {
	content: "\e900";
}
.flaticon-address20:before {
	content: "\e901";
}
.flaticon-alarm51:before {
	content: "\e902";
}
.flaticon-award48:before {
	content: "\e903";
}
.flaticon-award49:before {
	content: "\e904";
}
.flaticon-award50:before {
	content: "\e905";
}
.flaticon-award51:before {
	content: "\e906";
}
.flaticon-baguette:before {
	content: "\e907";
}
.flaticon-basic3:before {
	content: "\e908";
}
.flaticon-basic4:before {
	content: "\e909";
}
.flaticon-basic5:before {
	content: "\e90a";
}
.flaticon-basic6:before {
	content: "\e90b";
}
.flaticon-basic7:before {
	content: "\e90c";
}
.flaticon-basic8:before {
	content: "\e90d";
}
.flaticon-basic9:before {
	content: "\e90e";
}
.flaticon-basic10:before {
	content: "\e90f";
}
.flaticon-basic12:before {
	content: "\e910";
}
.flaticon-basic13:before {
	content: "\e911";
}
.flaticon-battery150:before {
	content: "\e912";
}
.flaticon-bicycle18:before {
	content: "\e913";
}
.flaticon-big107:before {
	content: "\e914";
}
.flaticon-big108:before {
	content: "\e915";
}
.flaticon-bitten3:before {
	content: "\e916";
}
.flaticon-blank35:before {
	content: "\e917";
}
.flaticon-blank36:before {
	content: "\e918";
}
.flaticon-blank37:before {
	content: "\e919";
}
.flaticon-boot3:before {
	content: "\e91a";
}
.flaticon-briefcase52:before {
	content: "\e91b";
}
.flaticon-broken46:before {
	content: "\e91c";
}
.flaticon-businessman20:before {
	content: "\e91d";
}
.flaticon-calendar160:before {
	content: "\e91e";
}
.flaticon-camera82:before {
	content: "\e91f";
}
.flaticon-cell13:before {
	content: "\e920";
}
.flaticon-champagne5:before {
	content: "\e921";
}
.flaticon-charged1:before {
	content: "\e922";
}
.flaticon-check54:before {
	content: "\e923";
}
.flaticon-check55:before {
	content: "\e924";
}
.flaticon-chef29:before {
	content: "\e925";
}
.flaticon-cocktail30:before {
	content: "\e926";
}
.flaticon-coffee68:before {
	content: "\e927";
}
.flaticon-connection22:before {
	content: "\e928";
}
.flaticon-credit103:before {
	content: "\e929";
}
.flaticon-crop16:before {
	content: "\e92a";
}
.flaticon-cross101:before {
	content: "\e92b";
}
.flaticon-delete84:before {
	content: "\e92c";
}
.flaticon-digital23:before {
	content: "\e92d";
}
.flaticon-download167:before {
	content: "\e92e";
}
.flaticon-drawing14:before {
	content: "\e92f";
}
.flaticon-earth206:before {
	content: "\e930";
}
.flaticon-earth207:before {
	content: "\e931";
}
.flaticon-edit46:before {
	content: "\e932";
}
.flaticon-eighth2:before {
	content: "\e933";
}
.flaticon-electric55:before {
	content: "\e934";
}
.flaticon-electric56:before {
	content: "\e935";
}
.flaticon-email108:before {
	content: "\e936";
}
.flaticon-empty39:before {
	content: "\e937";
}
.flaticon-exit15:before {
	content: "\e938";
}
.flaticon-exit16:before {
	content: "\e939";
}
.flaticon-expand40:before {
	content: "\e93a";
}
.flaticon-expand41:before {
	content: "\e93b";
}
.flaticon-extract1:before {
	content: "\e93c";
}
.flaticon-eye105:before {
	content: "\e93d";
}
.flaticon-fast47:before {
	content: "\e93e";
}
.flaticon-female239:before {
	content: "\e93f";
}
.flaticon-file97:before {
	content: "\e940";
}
.flaticon-flashlight7:before {
	content: "\e941";
}
.flaticon-floppy20:before {
	content: "\e942";
}
.flaticon-folded33:before {
	content: "\e943";
}
.flaticon-folding2:before {
	content: "\e944";
}
.flaticon-fried6:before {
	content: "\e945";
}
.flaticon-front20:before {
	content: "\e946";
}
.flaticon-front21:before {
	content: "\e947";
}
.flaticon-gamepad5:before {
	content: "\e948";
}
.flaticon-graduate37:before {
	content: "\e949";
}
.flaticon-halffilled2:before {
	content: "\e94a";
}
.flaticon-halloween319:before {
	content: "\e94b";
}
.flaticon-hammer55:before {
	content: "\e94c";
}
.flaticon-hand132:before {
	content: "\e94d";
}
.flaticon-hanging16:before {
	content: "\e94e";
}
.flaticon-happy52:before {
	content: "\e94f";
}
.flaticon-headset13:before {
	content: "\e950";
}
.flaticon-heart296:before {
	content: "\e951";
}
.flaticon-high23:before {
	content: "\e952";
}
.flaticon-home151:before {
	content: "\e953";
}
.flaticon-home152:before {
	content: "\e954";
}
.flaticon-home166:before {
	content: "\e955";
}
.flaticon-house121:before {
	content: "\e956";
}
.flaticon-imac3:before {
	content: "\e957";
}
.flaticon-keyring:before {
	content: "\e958";
}
.flaticon-kitchen77:before {
	content: "\e959";
}
.flaticon-landscape11:before {
	content: "\e95a";
}
.flaticon-left220:before {
	content: "\e95b";
}
.flaticon-left221:before {
	content: "\e95c";
}
.flaticon-left222:before {
	content: "\e95d";
}
.flaticon-left223:before {
	content: "\e95e";
}
.flaticon-lemon9:before {
	content: "\e95f";
}
.flaticon-letter92:before {
	content: "\e960";
}
.flaticon-lifeline5:before {
	content: "\e961";
}
.flaticon-lightning22:before {
	content: "\e962";
}
.flaticon-link62:before {
	content: "\e963";
}
.flaticon-list91:before {
	content: "\e964";
}
.flaticon-list92:before {
	content: "\e965";
}
.flaticon-location42:before {
	content: "\e966";
}
.flaticon-location43:before {
	content: "\e967";
}
.flaticon-locked60:before {
	content: "\e968";
}
.flaticon-loop10:before {
	content: "\e969";
}
.flaticon-magic21:before {
	content: "\e96a";
}
.flaticon-magnifying55:before {
	content: "\e96b";
}
.flaticon-male75:before {
	content: "\e96c";
}
.flaticon-male241:before {
	content: "\e96d";
}
.flaticon-man461:before {
	content: "\e96e";
}
.flaticon-medal47:before {
	content: "\e96f";
}
.flaticon-megaphone14:before {
	content: "\e970";
}
.flaticon-movie42:before {
	content: "\e971";
}
.flaticon-music236:before {
	content: "\e972";
}
.flaticon-musical117:before {
	content: "\e973";
}
.flaticon-new106:before {
	content: "\e974";
}
.flaticon-open209:before {
	content: "\e975";
}
.flaticon-open210:before {
	content: "\e976";
}
.flaticon-open211:before {
	content: "\e977";
}
.flaticon-pac1:before {
	content: "\e978";
}
.flaticon-paint71:before {
	content: "\e979";
}
.flaticon-paper135:before {
	content: "\e97a";
}
.flaticon-pause45:before {
	content: "\e97b";
}
.flaticon-pitcher9:before {
	content: "\e97c";
}
.flaticon-pizza16:before {
	content: "\e97d";
}
.flaticon-play110:before {
	content: "\e97e";
}
.flaticon-previous15:before {
	content: "\e97f";
}
.flaticon-price12:before {
	content: "\e980";
}
.flaticon-print44:before {
	content: "\e981";
}
.flaticon-prohibition23:before {
	content: "\e982";
}
.flaticon-put:before {
	content: "\e983";
}
.flaticon-quotation3:before {
	content: "\e984";
}
.flaticon-radio52:before {
	content: "\e985";
}
.flaticon-raining3:before {
	content: "\e986";
}
.flaticon-record10:before {
	content: "\e987";
}
.flaticon-refresh58:before {
	content: "\e988";
}
.flaticon-refresh59:before {
	content: "\e989";
}
.flaticon-refresh60:before {
	content: "\e98a";
}
.flaticon-refresh61:before {
	content: "\e98b";
}
.flaticon-return11:before {
	content: "\e98c";
}
.flaticon-right246:before {
	content: "\e98d";
}
.flaticon-road40:before {
	content: "\e98e";
}
.flaticon-rocket73:before {
	content: "\e98f";
}
.flaticon-round66:before {
	content: "\e990";
}
.flaticon-round67:before {
	content: "\e991";
}
.flaticon-round68:before {
	content: "\e992";
}
.flaticon-round69:before {
	content: "\e993";
}
.flaticon-round70:before {
	content: "\e994";
}
.flaticon-round71:before {
	content: "\e995";
}
.flaticon-round72:before {
	content: "\e996";
}
.flaticon-round73:before {
	content: "\e997";
}
.flaticon-round74:before {
	content: "\e998";
}
.flaticon-round76:before {
	content: "\e999";
}
.flaticon-rounded61:before {
	content: "\e99a";
}
.flaticon-rounded62:before {
	content: "\e99b";
}
.flaticon-sad65:before {
	content: "\e99c";
}
.flaticon-settings51:before {
	content: "\e99d";
}
.flaticon-share11:before {
	content: "\e99e";
}
.flaticon-share41:before {
	content: "\e99f";
}
.flaticon-shining4:before {
	content: "\e9a0";
}
.flaticon-shopping238:before {
	content: "\e9a1";
}
.flaticon-shuffle25:before {
	content: "\e9a2";
}
.flaticon-slide5:before {
	content: "\e9a3";
}
.flaticon-small178:before {
	content: "\e9a4";
}
.flaticon-smartphone23:before {
	content: "\e9a5";
}
.flaticon-spanner4:before {
	content: "\e9a6";
}
.flaticon-speech117:before {
	content: "\e9a7";
}
.flaticon-speech118:before {
	content: "\e9a8";
}
.flaticon-speech119:before {
	content: "\e9a9";
}
.flaticon-speech120:before {
	content: "\e9aa";
}
.flaticon-sport20:before {
	content: "\e9ab";
}
.flaticon-sprig:before {
	content: "\e9ac";
}
.flaticon-statistical:before {
	content: "\e9ad";
}
.flaticon-stickingplaster:before {
	content: "\e9ae";
}
.flaticon-subwoofer:before {
	content: "\e9af";
}
.flaticon-switch31:before {
	content: "\e9b0";
}
.flaticon-tablet96:before {
	content: "\e9b1";
}
.flaticon-tack1:before {
	content: "\e9b2";
}
.flaticon-tack2:before {
	content: "\e9b3";
}
.flaticon-telephone106:before {
	content: "\e9b4";
}
.flaticon-text150:before {
	content: "\e9b5";
}
.flaticon-thermometer54:before {
	content: "\e9b6";
}
.flaticon-tick8:before {
	content: "\e9b7";
}
.flaticon-top9:before {
	content: "\e9b8";
}
.flaticon-transgender:before {
	content: "\e9b9";
}
.flaticon-tree109:before {
	content: "\e9ba";
}
.flaticon-truck56:before {
	content: "\e9bb";
}
.flaticon-two396:before {
	content: "\e9bc";
}
.flaticon-unfolded1:before {
	content: "\e9bd";
}
.flaticon-unfolded2:before {
	content: "\e9be";
}
.flaticon-unlocked45:before {
	content: "\e9bf";
}
.flaticon-up178:before {
	content: "\e9c0";
}
.flaticon-upload121:before {
	content: "\e9c1";
}
.flaticon-user159:before {
	content: "\e9c2";
}
.flaticon-voice34:before {
	content: "\e9c3";
}
.flaticon-volume52:before {
	content: "\e9c4";
}
.flaticon-volume53:before {
	content: "\e9c5";
}
.flaticon-wall24:before {
	content: "\e9c6";
}
.flaticon-warning38:before {
	content: "\e9c7";
}
.flaticon-web38:before {
	content: "\e9c8";
}
.flaticon-web39:before {
	content: "\e9c9";
}
.flaticon-white86:before {
	content: "\e9ca";
}
.flaticon-widescreen8:before {
	content: "\e9cb";
}
.flaticon-wifi84:before {
	content: "\e9cc";
}
.flaticon-wine60:before {
	content: "\e9cd";
}
.flaticon-wine61:before {
	content: "\e9ce";
}
.flaticon-ying1:before {
	content: "\e9cf";
}